html {
  font-family: 'Abhaya Libre', serif;
  background-color: #423ca3;
  color: #fff;
}

figcaption {
  color: #fff;
}

figure {
  background-color: #1c164b;
}

.nav {
  text-align: center;
  margin-top: 1.5rem;
}

.logo {
  max-width: 256px;
  margin: 0 auto;
}

.masthead {

}

.nav a {
  display: inline-block;
  margin: 0 0.4em;
}

@media only screen and (min-width 50em) {

  .logo {
    margin: 0;
  }

}

@media only screen and (min-width 50em) {

  .nav {
    text-align: right;
    margin-top: 0;
  }

}
