html {
  font-family: 'Abhaya Libre', serif;
  background-color: #423ca3;
  color: #fff;
}

figcaption {
  color: #fff;
}

figure {
  background-color: #1c164b;
}

.nav {
  text-align: center;
}

.logo {
  max-width: 256px;
}

.masthead {

}

.nav a {
  display: inline-block;
}

li {
  background-color: #1c164b;
  border-radius: 10px;
}

@media only screen and (min-width 50em) {

  .nav {
    text-align: right;
  }

}
